body {
  background-color: #91D642;
  display: flex;
  justify-content: center;
}

.center-container {
  background-color: #FA5E3E;
  width: 60vw;
  height: 40vw;
  margin-top: 3vw;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.form-buttons {
  background-color: black;
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;
}