body {
  background-color: #91D642;
  display: flex;
  justify-content: center;
}

.center-container {
  background-color: #FA5E3E;
  width: 60vw;
  height: 40vw;
  margin-top: 3vw;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
  margin: 3vw;
}

.form {
  display: flex;
  flex-direction: column;
}

input[type=button] {
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 3px 3px;
  cursor: pointer;
  
}

.button-close {
  background-color: #AA0400;
  
}

.button-done {
  background-color: #04AA6D;
}